.intro_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 24px;
    border-left: 24px;
    border-top: 21px;
    border-bottom: 21px;
    height: 650px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border-right: 24px;
    border-left: 24px;
}
.titlecontact {

}
.introandcontact {
    /* margin-top: 120px; */
    align-items: center;
    text-align: center;
    max-width: 800px; /* Optional: limit the width */
    width: 100%; /* Make sure it doesn't overflow */
}
.name {
    text-align: center;
    font-size: 56px;
    color: white;
    font-family: "Readex Pro", sans-serif;
}

.school {
    text-align: center;
    font-size: 24px;
    color: white;
    font-family: "Readex Pro", sans-serif;
}
.contact_buttons {
    display: flex;
    justify-content: center; /* Center aligns horizontally */
    gap: 10px;
    text-align:center;
  }
.contactusbutton {
    /* align-items: center; */
    font-size: 16px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 10px;
}
.joinusbutton {
    /* align-items: center; */
    font-size: 16px;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
}

/* mission */
.misson_body {
    margin-top: 60px;
}
.mission_title, .mission_desc {
    color: black;
    font-family: "Readex Pro", sans-serif;
}
.mission_title {
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    display: block;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
}
.mission_desc{
    box-sizing: border-box;
    display: block;
    font-size: 19px;
    font-weight: normal;
    margin-right: 48px;
    text-align: left;
    overflow-wrap: break-word;
    /* word-break: break-word; */
    font-weight: 540;
    letter-spacing: 0.5px;
    line-height: 27px;
    max-width: 550px;
}
.mission_photo_div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mission1_div, .mission2_div {
    width: 500px;
    object-fit: cover;
}
.mission1, .mission2 {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.misson_body {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mission_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}