.projects{
    color: black;
    font-family: "Readex Pro", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current_projects_group{

}
.proj_intro {
    
}
.proj_intro > h1 {
    font-weight: 800;
    font-size: 50px;
}
.proj_intro > p {
    font-size: 20px;
    font-weight: 600;
}
.proj_details_group {
    display: flex;
    flex-direction: row;
}
.proj_details {
    width: 500px;
}
.proj_details > p {
    line-height: 28px;
}
.proj_img {
    width: 500px;
}
.proj_img > img{
    width: 500px;
    object-fit: fill;
    margin-left: 30px;
}

.alex_exo {
    margin-top: 60px;
}